<launch>
    <!-- X Supplies -->
    <node name="X1" pkg="ros_coils" type="psuTest" output="screen">
        <param name="PSU_COM" type="str" value="/dev/ttyUSB0"/>
        <param name="vConv" type="double" value="0.1"/>
    </node>
    <!-- <node name="X2" pkg="ros_coils" type="psuTest" output="screen">
        <param name="PSU_COM" type="str" value="/dev/ttyUSB1"/>
        <param name="vConv" type="double" value="0.1"/>
    </node> -->

    <!-- Y Supplies -->
    <node name="Y1" pkg="ros_coils" type="psuTest" output="screen">
        <param name="vConv" type="double" value="0.01"/>
        <param name="PSU_COM" type="str" value="/dev/ttyUSB4"/>
    </node>
    <node name="Y2" pkg="ros_coils" type="psuTest" output="screen">
        <param name="vConv" type="double" value="0.01"/>
        <param name="PSU_COM" type="str" value="/dev/ttyUSB5"/>
    </node>    
    
    <!-- Z Supplies -->
    <node name="Z1" pkg="ros_coils" type="psuTest" output="screen">
        <param name="vConv" type="double" value="0.01"/>
        <param name="PSU_COM" type="str" value="/dev/ttyUSB2"/>
    </node>
    <node name="Z2" pkg="ros_coils" type="psuTest" output="screen">
        <param name="vConv" type="double" value="0.01"/>
        <param name="PSU_COM" type="str" value="/dev/ttyUSB3"/>
    </node>
    
    <node name="Field" pkg="ros_coils" type="pubField" output="screen"> </node>

    <node name = "demo" pkg="ros_coils" type="reinforcement_demo" output="screen"> </node>
</launch>