<launch>
    <!-- X Supplies -->
    <node name="PSU0" pkg="ros_coils" type="PSU_node" output="screen">
        <param name="PSU_COM" type="str" value="/dev/ttyUSB2"/>
        <param name="vConv" type="double" value="0.01"/>
        <param name="debugMode" type="bool" value="false"/> <!-- debugMode="true" -->
    </node>
</launch>